.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.layout-main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.layout-viewport {
  flex: 1;
  overflow: hidden;
  background: #000;
}

